body {
    font-family: 'Roboto', sans-serif;
}

.nav-bar {
    display: flex;
    justify-content: space-between;
    font-size: 18px;
    padding: 24px;
}

.nav-bar ul {
    display: flex;
    gap: 16px;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.nav-bar a {
    text-decoration: none;
    color: white;
}

.nav-bar a:hover {
    text-decoration: underline;
}

.hero-section {
    height: 100vh;
    width: 100vw;
    position: relative;
    background-size: cover;
    background-position: 50% 50%;
    margin: -10px;
}

.hero-section.home {
    background-image: url("../img/pexels-askar-abayev-5638330.jpg");
}

.hero-section.steak {
    background-image: url("../img/pexels-kasumi-loffler-3535383.jpg");
}

.hero-section.cookies {
    background-image: url("../img/pexels-nerfee-mirandilla-3186743.jpg");
}

.hero-section.waffles {
    background-image: url("../img/pexels-brigitte-tohm-131056.jpg" );
}

.overlay {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, .5);
    color: white;
    display: flex;
    flex-direction: column;
}

.hero-text {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.hero-text h1 {
    text-transform: uppercase;
    font-size: 128px;
    letter-spacing: 65px;
    margin: -10px;
}

.hero-text p {
    text-transform: lowercase;
    font-size: 20px;
}

.ingredients-section {
    display: flex;
}

.ingredients-section,
.steps {
    color: white;
    margin-right: -24px;
}

.ingredients-section img {
    height: 100vh;
    width: auto;
}

.ingredients-text {
    background-color: rgb(73, 7, 7);
    flex-grow: 1;
}

.ingredients-text,
.steps {
    padding: 24px;
}

.ingredients-text,
.ingredients-text hr,
.steps,
.steps hr {
    margin-top: -40px;
}

.ingredients-text h2,
.steps h2 {
    font-size: 64px;
    font-style: italic;
    font-weight: 100;
}

.ingredients-text li,
.steps li {
    font-size: 18px;
    margin: 10px;
}

.steps {
    background-color: rgb(44, 45, 46);
}

.steps li {
    line-height: 32px;
}